.btn{
  text-decoration: none;
  border: none;
  font-family: 'Sarabun', sans-serif;
  background: none;
  cursor: pointer;
  &-link{
    font-weight: 700;
    color: $c-primary;
    position: relative;
    padding-right: 118px;
    padding-left: 0;
    font-size: 1.125rem;
    &:before, &:after{
      content: '';
      width: 96px;
      height: 3px;
      background: $c-primary;
      display: block;
      position: absolute;
      right: 0;
      top: calc(50% - 1px);
      transition: $a-attack;
    }
    &:before{
      transform: translateX(-150%);
      opacity: 0 !important;
    }
    &:after{
      opacity: 1 !important;
      transform: translateX(0%);
    }
    &:hover{
      color: $c-primary !important;
      &:before{
        transform: translateX(0%);
        opacity: 1 !important;
      }
      &:after{
        opacity: 0 !important;
        transform: translateX(150%);
      }
    }
  }
  &-primary{
    border: 3px solid $c-primary;
    height: 54px;
    width: 208px;
    font-weight: 500;
    background-color: $c-background;
    padding: 0 !important;
    justify-content: center;
    color: $c-primary;
    align-items: center;
    z-index: 2;
    top: 0px;
    left: 0px;
    display: flex;
    position: relative;
    font-size: 1.125rem;
    transition: $a-attack;
    &:hover{
      transform: translate(10px, 10px);
      //background-color: $c-primary;
      //color: $c-background;
    }
  }
  &-b{
    &-primary{
      height: 54px;
      width: 208px;
      border: 3px solid $c-primary;
      display: flex;
      position: absolute;
      top: 10px;
      left: 10px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
    }
  }
}
button:focus{
  outline: none;
}
.btn-container{
  position: relative;
  margin-top: 64px;
}
@media screen and(max-width: $bp-tablet){
  .btn-link{
    padding-right: 80px;
    &:before, &:after{
      width: 64px;
    }
  }
}
