.techstack{
  display: flex;
  flex-flow: column;
  margin: 64px 0 0 0;
  &-item{
    &:first-of-type{
      margin-top: 0;
    }
    margin-top: 32px;
    &-type{
      grid-column: 1 / span 2;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 600;
      padding-top: 6px;
    }
    &-info{
      grid-column: 5 / span 6;
      position: relative;
      &-title{
        font-size: 1.75rem;
        color: $c-primary;
        margin-bottom: 8px;
      }
      &-desc{
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.75rem;
      }
      &:after{
        content: '';
        position: absolute;
        top: 19px;
        left: -128px;
        height: 3px;
        grid-column: 3;
        width: 96px;
        background-color: $c-primary;
        display: block;
      }
    }
  }
}
@media screen and(max-width: $bp-tablet){
  .techstack{
    margin: 48px 0 0 0;
    &-item{
      display: flex !important;
      flex-flow: column;
      margin-left: 32px;
      margin-top: 32px;
      &-type{
        font-size: 0.875rem;
      }
      &-info{
        &-title{
          font-size: 1.5rem;
        }
        &-desc{
          font-size: 1rem;
          line-height: 1.75rem;
        }
        &:after{
          top: 16px;
          left: -64px;
          width: 48px;
          height: 3px;
        }
      }

    }
  }
}
