//z index
$zi-topbar: 200;
$zi-menu: 100;
$zi-loader: 1000;

//colors
$c-primary: #FFFFFF;
$c-secondary: #cabcd2;
$c-background: #070707;
$c-grey: #2b2b2b;
$c-menu-bg: rgba(7,7,7,1);
$c-purple-background: #110F14;
$c-dark: #333136;

//BREAKPOINTS
$bp-desktop: 1600px;
$bp-tablet-w: 1360px;
$bp-tablet: 1160px;
$bp-phone: 800px;
