.about{
  &-cover{
    padding: 320px 0 96px 0;
    &-content{
      align-items: center;
    }
    &-title{
      position: relative;
      grid-column: 1 / span 7;
      display: flex;
      &:before{
        display: block;
        content: ' ';
        background-color: $c-primary;
        height: 4px;
        width: 64px;
        top: -28px;
        position: absolute;
      }
      h1{
        position: relative;
        line-height: 8rem;
        &:before{
          content: '';
          position: absolute;
          display: block;
          height: 64px;
          width: 4px;
          background-color: $c-primary;
          right: -34px;
          bottom: -28px;
        }
        &:after{
          content: '';
          position: absolute;
          display: block;
          width: 64px;
          height: 4px;
          background-color: $c-primary;
          right: -34px;
          bottom: -28px;
        }
      }
    }
    &-intro{
      grid-column: 9 / span 4;
      position: relative;
      &:before{
        content: '';
        display: block;
        background-color: $c-primary;
        height: 3px;
        width: 64px;
        top: 20px;
        left: -96px;
        position: absolute;
      }
      h3{
        margin: 0 0 16px;
      }
      p{
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.75rem;
        margin: 0 0 16px;
      }
    }
  }
  &-quote{
    padding: 144px 0;
    &-content{
      grid-column: 2 / span 10;
    }
    &-text{
      font-size: 32px;
      color: $c-primary;
      font-style: italic;
      line-height: 46px;
      font-weight: 700;
      margin: 0 0 24px 0;
    }
    &-author{
      font-size: 26px;
      color: $c-primary;
      font-weight: 600;
    }
  }
  &-intro{
    background-color: $c-purple-background;
    padding: 96px 0;
    &-content{
    }
    &-item{
      display: flex;
      flex-flow: row;
      grid-column: 2 / span 10;
      align-items: center;
      &:nth-of-type(even){
        margin-top: 64px;
        flex-flow: row-reverse;
        .about-intro-item-image{
          margin: 0 17vw 0 0;
        }
      }
      &-text{
        flex: 1;
        h3{
          font-size: 1.625rem;
          color: $c-primary;
          font-weight: 700;
          margin: 0 0 16px;
        }
        p{
          font-size: 1rem;
          line-height: 1.75rem;
          margin-bottom: 16px;
          font-weight: 500;
          &:last-of-type{
            margin: 0;
          }
        }
      }
      &-image{
        flex: 1;
        width: 100%;
        height: auto;
        margin: 0 0 0 17vw;
        img{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: $bp-tablet){
  .about{
    &-cover{
      padding: 224px 0 64px;
      &-content{
        display: flex !important;
        width: 100%;
        flex-flow: column;
        align-items: start;
      }
      &-title{
        margin-bottom: 64px;
        h1{
          line-height: 4rem;
          &:before{
            height: 48px;
            width: 3px;
            right: -26px;
            bottom: -22px;
          }
          &:after{
            height: 3px;
            width: 48px;
            right: -26px;
            bottom: -22px;
          }
        }
        &:before{
          width: 48px;
          height: 3px;
          top: -22px;
        }
      }
    }
    &-quote{
      padding: 64px 0;
      &-content{
        grid-column: 1 / span 12;
      }
      &-text{
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 24px;
      }
      &-author{
        font-size: 20px;
      }
    }
    &-intro{
      padding: 0;
      &-content{
        margin: 0 !important;
      }
      &-item{
        grid-column: 1 / span 12;
        margin: 0 !important;
        flex-flow: column-reverse !important;
        &-image{
          margin: 0 !important;
        }
        &-text{
          margin: 48px 32px;
        }
      }
    }
  }
}
