.home{
  &-cover{
    height: 100vh;
    width: 100%;
    background-image: url('~@/assets/home/home-cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &-content{
      height: 100vh;
      &-inner{
        grid-column: 1 / span 4;
        display: flex;
        justify-content: center;
        flex-flow: column;
        .btn-link{
          position: absolute;
          bottom: 72px;
        }
      }
    }
  }
  &-about{
    padding: 96px 0;
    &-content{
      grid-column: 1 / span 6;
    }
    &-image{
      grid-column: 8 / span 4;
      img{
        width: 100%;
      }
    }
  }
  &-projects{
    padding: 96px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 72px;
  }
  &-project{
    overflow: hidden;
    &-image{
      width: 100%;
      overflow: hidden;
      display: block;
      cursor: pointer;
      object-fit: cover;
      &-desktop{
      }
      &-phone{
        display: none !important;
      }
      img{
        width: 100%;
        display: block;
        cursor: pointer;
        object-fit: cover;
        transform: scale(1);
        overflow: hidden;
        transition: $a-attack;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
    &-info{
      padding: 24px 32px 0 32px;
      &-title{
        font-size: 1.875rem;
        color: $c-primary;
        font-weight: 700;
        margin: 0 0 4px;
      }
      &-caption{
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0 0 24px;
      }
      &-desc{
        font-size: 1rem;
        font-weight: 500;
        display: none;
      }
    }
  }
  &-techstack{
    padding: 96px 0 96px;
    border-top: solid 1px $c-grey;
  }
}
@media screen and(max-width: $bp-tablet){
  .home{
    &-cover{
      &-content{
        display: flex !important;
        justify-items: end;
        &-inner{
          display: flex;
          align-items: start;
          height: auto;
          justify-content: flex-end;
          .btn-link{
            margin: 24px 0 48px !important;
            position: relative;
            bottom: auto;
            font-size: 1rem;
          }
        }
      }
    }
    &-about{
      display: flex !important;
      margin: 0px !important;
      flex-flow: column-reverse;
      &-content{
        margin: 0 32px;
      }
    }
  }
}
