@import "abstracts/variables";

@import "components/buttons";
@import "components/techstack";
@import "components/footer";
@import "components/menu";
@import "layout/home.scss";

html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
.mlr-main{
  margin: 0 72px 0 72px;
  box-sizing: border-box !important;
}
.grid{
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(12,1fr);
}
h1,h2,h3,h4,p{
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
a{
  color: $c-primary;
  transition: $a-attack;
  &:hover{
    color: $c-secondary;
  }
}
.t{
  &-title{
    font-family: 'Anton', sans-serif;
    font-size: 5.5rem;
    color: $c-primary;
    font-weight: 500;
    line-height: 5.75rem;
  }
  &-subtitle{
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.25rem;
    margin: 1.5rem 0 1.5rem
  }
  &-sectitle{
    font-size: 2.625rem;
    color: $c-primary;

  }
  &-desc{
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0 4rem 0
  }
  &-about{
    font-size: 2rem;
    font-weight: 700;
    color: $c-primary;
    margin: 32px 0;
  }
  &-secondary{
    color: $c-secondary;
  }
}

.link{
  &-inline{
    display: inline;
  }
}

@media screen and (max-width: $bp-desktop){
  .t{
    &-title{
      font-size: 4.5rem;
      line-height: 4.75rem;
    }
    &-subtitle{
      font-size: 1.875rem;
      line-height: 2.125rem;
    }
    &-desc{
      margin: 0.5rem 0 0;
    }
    &-about{
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}
@media screen and(max-width: $bp-tablet){
  .mlr-main{
    margin: 0 32px;
  }
  .t{
    &-title{
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    &-subtitle{
      font-size: 1.5rem;
      margin: 16px 0;
      line-height: 1.75rem;
    }
    &-desc{
      font-size: 0.875rem;
      margin: 8px 0 16px;
    }
  }
}
